.contentBlog {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 66%;
  justify-content: space-around;
  margin-left: 16%;
  margin-right: 16%;
  width: 68%;
}

img {
  height: 720px;
  margin-bottom: 70px;
  width: 100%;
}

.part {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica';
  padding-bottom: 80px;
  padding-top: 80px;
  width: 100%; 
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica';
  justify-content: space-around;
  width: 100%;  
}
